body {
    font-family:  'Times new roman', serif;
    background-color: #b5b5b5;
    font-size: 20px;
}

select {
    font-size: 75%;
}


.graphcontainer {
    text-align: center;
    margin-bottom: 100px;
}
.graphcontainer select {
    margin-bottom: 15px;
}
.graphWithLegend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.graphLegend {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}
.graphLegend table {
    text-align: left;
    border-spacing: 5px;
}

.textcontainer {
    text-align: center;
    margin-bottom: 100px;

}



p {
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    column-width: 15em;
    column-gap: 1.5em;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #6f6f6f;
}


#header {
    height: 400px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    position: relative;
    overflow: hidden;
}

#header .header-image {
    background-image: url("../DSC_1885.JPG");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#header .header-title {
    display: inline-block;
    z-index: 50;
}

#header .header-title h1 {
    font-size: 65px;
    color: #feef00;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}


.wrapper {
    margin: auto;
    padding: 30px;
    max-width: 900px;
}



.title{
    color: #3c3c3c;
    font-size: 33px;
}
.remark{
    color: #8c9193;
}
.paragraph{
    color:#494d4c ;
    font-size: 17px;
}

.divider
{
	position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

h2 {

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    font-weight: bold;
}

